.App {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.bg {
  width: 90vw;
  height: 90vh;
  background-color: #9895DA;
  border-radius: 30px;
  margin-top: 4rem;
}

.hero {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.4rem 4.5rem;
}

.bg-hero {
  width: 99%;
  height: 100%;
  border-radius: 30px;
}

.hero-date {
  color: #fff;
}

.rain {
  background: url("https://images.unsplash.com/photo-1562781105-c53c27ff6007?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80") no-repeat center;
}

