
/* Typography */

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 2rem;
}

/* Grids + Containers */
.grid {
  display: grid;
}

.grid--1x5 {
  grid-template-columns: repeat(5, 1fr);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  color: rgb(227, 227, 227);
}

.bg {
  background: rgb(115,147,247);
  background: linear-gradient(180deg, rgba(115,147,247,1) 0%, rgba(187,203,253,1) 100%);
  border-radius: 30px;
}

/* Hero */

.hero {
  padding: 3rem 4rem 0;
  text-align: center;
}

.hero-date {
  margin-top: 4rem;
}

.hero-date h3 {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 3.2rem;
}

.hero-temp {
  font-size: 8rem;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 0;
}

.current-weather-icon {
  margin-top: 1rem;
  margin-bottom: 0;
}

.current-weather-desc {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.current-weather-desc::first-letter {
  text-transform: capitalize;
}

.current-min-max {
  font-size: 2.5rem;
  margin: 1rem 0 5rem;
}

.divider {
  border-top: 1.5px solid #96b0fd;
}

/* Weekly Forecast */

.weekly-container {
  padding: 3rem 2rem;
  text-align: center;
}

.weekly-icon {
  max-width: 70px;
}

.weekly-elements {
  margin-bottom: 3rem;
}