
/* Typography */

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 2rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto 0;
  color: rgb(227, 227, 227);
}

.bg {
  background: rgb(115,147,247);
  background: linear-gradient(180deg, rgba(115,147,247,1) 0%, rgba(187,203,253,1) 100%);
  border-radius: 30px;
}

/* Hero */

.hero {
  padding: 3rem;
  text-align: center;
}

.hero-date {
  margin-top: 4rem;
}

.hero-date h3 {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 3.2rem;
}

.hero-temp {
  font-size: 5rem;
  font-weight: bold;
}


